name: Cargo Build & Test

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - run: npx inplate --assert
      - run: rustup update && rustup default
      - run: cargo build --verbose
      - run: cargo test --verbose
      - run: cargo clippy --workspace --all-targets --verbose
